body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9fafb;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.navbar {
  background-color: #2563eb;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #dc2626;
}

.auth-container {
  width: 350px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-container input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-container button {
  width: 95%;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #1d4ed8;
}

.link {
  color: #2563eb;
  cursor: pointer;
  text-decoration: underline;
}
