server:
  port: 8080
spring:
  application:
    name: "tasks"
  profiles:
    active: "prod"
  datasource:
    url: jdbc:mysql://localhost:3306/tasksdb
    username: root
    password: root
  jpa:
    show-sql: true
  sql:
    init:
      mode: always

management:
  endpoints:
    web:
      exposure:
        include: "*"
